
*{  
	margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
}
		
.nav{
        height: 70px;
        background: linear-gradient(rgb(100, 100, 100),rgb(100, 100, 100));
}
.navlist li{
        float: left;
        height: 70px;
        width: 150px;
        line-height: 70px;
        text-align: center;
}
.navlist a{
        color: #FFFFFF;
	display: block;
}
.navlist{
	width: 1080px;
}
.navlist a:hover{
        background: rgb(30, 30, 30);
}
.logo{
    	background: rgb(0, 0, 0);
}
.logo:hover{
        background: rgb(0, 0, 0);
}
p{
	font-family:msyh;
	color:rgb(255, 255, 255)
}
h1{
	font-family:msyh;
	color:rgb(255, 255, 255);
}
h2{
	font-family:msyh;
	color:rgb(255, 255, 255);
}
h3{
	font-family:msyh;
	color:rgb(255, 255, 255);
}
.text{
	font-family:msyh;
	color:rgb(255, 255, 255);
}
.timer{
	font-family:msyh;
	color:rgb(255, 255, 255);
	white-space: nowrap;
}
a{
	color: #8A2BE2;
}
body{
	background-color:rgb(0, 0, 0);
}

	
